<template>
    <div class="container">
        <h1>Vue component 12346</h1>
    </div>

</template>

<script setup>
console.log(12232)
</script>

<style>
body{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 56px;
}
</style>
